/*texte des titres (h1) plus*/
h1 {
    font-size: 2.5em;
}

/*texte des sous-titres (h2) de couleur gris*/
h2 {
    color: #35424a;
}

/*suppression du soulignement des liens*/
a {
    text-decoration: none;
}

/*En-tête : fond en dégradé, couleur de texte blanc, élargissement des marges, texte centré, couleur du bord du bas jaune*/
header {
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #ffcc00;
}

/*Corps de la page : police Arial, mise en place d'un espace entre les lignes, suppression des marges et padding par défaut, fond de couleur bleu clair, texte de couleur noire*/
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

/*Pied de page : texte centré, élargissement des marges, couleur du fond bleu/gris, couleur du texte blanc*/
footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
}

/*Conteneur principal : largeur maximale de 800px, centré avec des marges automatiques, élargissement des marges, couleur du fond fond blanc, coins arrondis, ombre*/
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*Blocs : création d'un espace entre chaque blocs, élargissement des marges, couleur de la bordure grise, coins arrondis, couleur du fond gris, animation d'ombre au survol*/
.blocs {
    margin: 20px;
    padding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background: #f9f9f9;
    transition: box-shadow 0.5s;
}

/*Boutons : couleur du fond jaune, couleur du texte noir, modification de la taille des marges, coins arrondis, animation au survol*/
.bouton {
    background: #ffcc00;
    color: #35424a;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    transition: background 0.3s, transform 0.3s;
}

/*Logo : position absolue pour placer l'image où on veut, ici 30px du haut et 10px de la gauche*/
.logo {
    position: absolute;
    top: 30px;
    left: 10px;
}

/*Animation au survol des blocs : ajout d'une ombre plus forte*/
.blocs:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/*Animation au survol des boutons : changement de couleur du fond*/
.bouton:hover {
    background: #ff9900;
}
